@reference "../../global.css";

@layer components {
  .scalable-section {
    font-size: var(--text-scalable-paragraph);

    h1 {
      font-size: var(--text-scalable-heading1);
    }
    h2 {
      font-size: var(--text-scalable-heading2);
    }
    h3 {
      font-size: var(--text-scalable-heading3);
    }
    h4 {
      font-size: var(--text-scalable-heading4);
    }
    h5 {
      font-size: var(--text-scalable-heading5);
    }
    h6 {
      font-size: var(--text-scalable-heading6);
    }
    p,
    a,
    li {
      font-size: inherit;
    }
    a {
      @apply hover:text-primary hover:underline my-1;
    }
  }
}
