@reference "../../global.css";

@layer components {
  :target {
    scroll-margin-top: 100px;
  }
  .scalable-section {
    font-size: var(--text-scalable-paragraph);

    h1 {
      font-size: var(--text-scalable-heading1);
    }
    h2 {
      font-size: var(--text-scalable-heading2);
    }
    h3 {
      font-size: var(--text-scalable-heading3);
    }
    h4 {
      font-size: var(--text-scalable-heading4);
    }
    h5 {
      font-size: var(--text-scalable-heading5);
    }
    h6 {
      font-size: var(--text-scalable-heading6);
    }
    p,
    a,
    li {
      font-size: inherit;
    }
    a {
      @apply hover:text-primary hover:underline my-1 scroll-m-20;
    }
    .columns {
      @apply flex gap-4 w-full flex-wrap my-4;
    }
    .column {
      @apply min-w-[360px] flex-1 p-0;
    }
    span[id] {
      @apply cursor-pointer;
    }
  }
}
